<div style="text-align: center; margin: 25px;">
    <h1 style="font-size: 60px;">Track Bus</h1>
</div>
<div style="margin: 10px;">
    <div style="margin-top: 5%;">
        <button class="btnLog" mat-raised-button color="primary" routerLink="/home">Return Home</button>
    </div>
</div>
<mat-grid-list cols="6" rowHeight="200px">


    <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="2">
        <div class="progressIndicator" [style.display]="isProgressConeFire ? 'inline' : 'none' ">
            <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
        
        <form class="inputs" [style.display]="isFinish ? 'inline' : 'none' ">

            <div style="margin-top: 5%; margin-bottom: 5%;">
                <button class="btnLog" mat-raised-button color="primary" (click)="startTracking()">Track Bus</button>
            </div>

            <div style="text-align: center;" class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
                <h4>Loading Coords</h4>
                <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
            </div>

            <div style="margin-top: 5%; margin-bottom: 5%;">
                <button class="btnLog" mat-raised-button color="primary" (click)="stop()">Stop Tracking</button>
            </div>
    
        </form>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>

    
    
</mat-grid-list>

