<br>
<div style="text-align: center;">
  <h1>Los Rieleros del Norte Tracking Map</h1>
</div>
<br>
<mat-grid-list class="cont-login" cols="6" rowHeight="100px">  
    
    <mat-grid-tile colspan="6" rowspan="4">
  
      <form class="inputs" style="background: lightgray; padding: 20px; text-align: center;" [formGroup]="loginForm" (ngSubmit)="loginUser()">
  
        <mat-form-field class="inputStyle" appearance="fill" >
          <mat-label style="font-size: 20px;">Enter your email</mat-label>
          <input style="height: 30px;" autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
        </mat-form-field>
  
        <mat-form-field class="inputStyle" appearance="fill">
          <mat-label style="font-size: 20px;">Enter your password</mat-label>
          <input style="height: 30px;" autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>
  
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>
  
        <div style="text-align: center;">
          <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
            <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
          </div>
          <button class="btnLog" mat-raised-button color="primary">Login</button>
        </div>
      </form>
  
    </mat-grid-tile>
  
  
  </mat-grid-list>